<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <div th:include="layerFragments :: commonJsGroup"></div>
    <div th:include="layerFragments :: commonCssGroup"></div>

</head>
<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="row animated fadeInRight">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>首页</h5>
                </div>
                <div class="ibox-content timeline">
                    <!--<div class="timeline-item">
                        欢迎欢迎！热烈欢迎
                    </div>-->
                    <img class="img-responsive" src="/static/img/background.jpg">
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>